.search-page{
  box-sizing: border-box;
  padding: 10px 10px;
}
.search{
  width: 100%;
  height: 45px;
  >input{
    text-align: center;
    padding-bottom: 5px;
    width: 100%;
    line-height: 45px;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
}